p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 95px;
    padding-right: 20px;
}

/* media query added */
/* for marking responsive design */

@media (min-width:380px) {
    .yt-video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width:600px) {
    .yt-video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:768px){
    .yt-video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1080px) {
    .yt-video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}