
@media (min-width:600px) {
    .yt-video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:768px) {
    .yt-video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1080px) {
    .yt-video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width:500px) {

    body {
        padding: 0;
    }

    .yt-video-thumbnail {
    width: 100%;
    border-radius: 15px;
}

    .yt-video-grid {
        grid-template-columns: 1fr;
    }

    .search-bar,
    .voice-button,
    .sidebar,
    .hamburger-menu {
        display: none;
    }

    .youtube-logo {
        margin-left: 10px;
    }

    .upload-icon-container,
    .yt-apps-container,
    .bell-icon-container {
        display: none;
    }

    .middle-header-section {
        margin-left: 190px;
    }

    .right-header-section {
        width: 20px;
    }

    .search-button {
        border: none;
        background-color: #00000000;
    }

    .search-button:hover {
        background-color: hsla(0, 0%, 90%, 0);
    }

    .filter-bar {
        width: 95%;
        overflow-x:scroll;
    }

    .video-info-flex {
        margin-left: 10px;
    }

    .video-text-details {
        width: 100%;
    }

    .yt-header,
    .filter-bar {
        position: static;
    }

    .yt-video-thumbnail {
        border-radius: 0px;
    }

}