.subscribe {
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.3s;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
}

.subscribe:hover {
    opacity: 0.6;
}

.subscribe:active {
    opacity: 0.3;
}

.join {
    margin-left: 10px;
    background-color: white;
    color: rgb(6, 95, 221);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(6, 95, 221);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.join:hover {
    background-color: rgb(41, 118, 231);
    color: white;
}

.join:active {
    opacity: 0.7;
}

.Tweet {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.Tweet:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.Request-now {
    background-color: black;
    border: none;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    cursor: pointer;
    transition: opacity 0.3s;
}

.Request-now:hover {
    opacity: 0.7;
}


.amazon-add-to-cart {
    background-color: rgb(255, 216, 20);
    color: black;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: filter 0.3s;
}

.amazon-add-to-cart:hover {
    filter: contrast(80%);
}

.amazon-add-to-cart:active {
    opacity: 0.8;
}

.amazon-buy-now {
    margin-left: 10px;
    background-color: rgb(255, 164, 28);
    color: black;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: filter 0.3s;
}

.amazon-buy-now:hover {
    filter: contrast(80%);
}

.amazon-buy-now:active {
    opacity: 0.8;
}

.Github {
    background-color: rgb(46, 164, 79);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: opacity 0.3s, box-shadow 0.3s;
}

.Github:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.bootstrap-1 {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s, box-shadow 0.3s;
}

.bootstrap-1:hover {
    opacity: 0.9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.bootstrap-2 {
    margin-left: 10px;
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.bootstrap-2:hover {
    background-color: rgb(108, 117, 125);
    color: white;
}


.LinkedIn-1 {
    background-color: rgb(10, 102, 194);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.3s;
}

.LinkedIn-1:hover {
    background-color: rgb(4, 71, 137);
}

.LinkedIn-2 {
    margin-left: 10px;
    background-color: white;
    color: rgb(10, 102, 194);
    border-style: solid;
    border-color: rgb(10, 102, 194);
    font-weight: bold;
    border-width: 1px;
    border-radius: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.3s, border-width 0.3s;
}

.LinkedIn-2:hover {
    background-color: rgb(192, 219, 247);
}

.product-title {
    font-size: 26px;
    font-weight: bold;
}

.MRP {
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.msg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.changelog{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}